@require "normalize"
@require "palette"
@require "typography"
@require "fancybox"
@require "./owl-carousel/owl.carousel.css"

TABLET = "(max-width: 768px)"
SITE_EXTENT = "(max-width: 960px)"
ONLY_MOBILE = "only screen and (max-device-width: 480px)"
ONLY_TABLET = "screen and (min-device-width: 768px) and (max-device-width: 1024px)"

// Adjust placeholder text on inputs easily.
placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}

// There seems to be an issue with the nib clearfix.
clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

@media TABLET
  .entry
    img
      max-width 100% !important
      height auto !important

body, html, .home .body // height 100% is only needed on the homepage for the video.
  height 100%
  width 100%

body
  background FOOTER_BG_CLR
  z-index 0

.fluid-img
  width 100% !important
  height auto !important


main
  background SITE_BACKGROUND
  padding 49px 0 0
  &.video-page
    padding 0

  .home main
    padding 0

.corset
  clearfix()
  width 960px
  margin auto
  @media SITE_EXTENT
    width auto
    margin auto 4%

.contained-corset
  clearfix()
  width 720px
  margin auto
  @media SITE_EXTENT
    width auto
    margin auto 4%

.half-col
  column(6)
  @media TABLET
    column(12)

.full-col
  column(12)

@keyframes tick
  from
    transform(rotate(0deg))
  80%
    transform(rotate(0deg))
  to
    transform(rotate(90deg))

#loader
  position fixed
  z-index 500
  top 0
  right 0
  left 0
  bottom 0
  width 100%
  height 100%
  background MAIN_NAV_BG_CLR
  transition-property(opacity)
  transition-delay(0s)
  transition-duration(700ms)
  transition-timing-function(ease-in-out)
  opacity 1
  div
    animation-name(tick)
    animation-duration(1.8s)
    animation-timing-function(ease-in-out)
    animation-delay(0s)
    animation-iteration-count(infinite)
    animation-direction(normal)
    position absolute
    top 50%
    left 50%
    background darken(MAIN_NAV_BG_CLR, 20%)
    width 155px
    height 155px
    margin-left -(@width/2)
    margin-top -(@height/2)
    border-radius(4px)
  i
    z-index 1000
    display block
    position absolute
    top 50%
    left 50%
    width 150px
    height 155px
    margin-left -(@width/2)
    margin-top -(@height/2)
    image '../img/made-in-uk-white.png' 100px 105px
    background-repeat no-repeat
    background-position center center
  &.removeme
    opacity 0 // This will be removed from the dom after the duration.

.center-tbl
  display table
  height 100%
  width 100%
  .tr
    display table-row
    .td
      display table-cell
      vertical-align middle

@require "header"
@require "pages"
@require "footer"
