.footer
  padding 80px 0 50px
  background #333
  text-align left

  a
    font-size 16px
    line-height 17px
    color white
    {GOTHAM_BOOK}

  .first
    span(3/12)
    +below(3)
      display none

  .second
    span(5/12)
    +below(3)
      stack()
      margin-bottom 30px
    clearfix()
    ul
      margin 0
      padding 0
    li
      display block
      col(1/2, cycle: 2)
      padding 0 0 8px


  .third
    span(4/12)
    +below(3)
      stack()
      text-align left

    .social-contain
      clearfix()
      width 160px
      float right
      +below(3)
        width 100%
        float none
      a
        display block
        text-align center
        background white
        float left
        height 70px
        width 70px
        line-height 81px
        margin-bottom 10px
        margin-left 10px
        color black
        +below(3)
          margin-left 0px
          margin-right 10px
          width 50px
          height 50px
          line-height 60px
          i
            font-size 20px
        i
          color black
          font-size 30px
        &:hover
          background #000
          i
            color white
    .email
      font-size 14px
      display block
      padding-top 8px
      text-align right
      clear both
      +below(3)
        text-align left


  .made-in-uk
    width 115px
    height 15px
    image: '../img/logo.png' @width @height
    background-size @width @height
    display block
    margin 0 0 20px
  .copyright
    text-align center
    color white
    font-size 12px
    margin-top 30px
