.main-nav
  &.no-header-mobile-image
    @media (max-width: 960px)
      top 0 !important

.header
  position relative
  width 100%
  height 100%
  left 0
  top 0
  background MAIN_NAV_BG_CLR
  z-index 10

  .get-started
    position absolute
    align(center)
    h1
      margin-bottom 50px
      a
        display block
        text-indent -9999px
        width 340px
        height 43px
        image '../img/logo.png' @width @height
        background-size @width @height

        +below(2)
          width 300px
          height 38px
          image '../img/logo.png' @width @height
          background-size @width @height

    .next-section
      position relative
      color #F6F6F6
      border 2px solid #F6F6F6
      transition all 0.5s
      display inline-block
      padding 10px 20px
      text-decoration none
      text-transform uppercase
      z-index 1
      {GOTHAM_BLACK}
      &:hover
        background rgba(0, 0, 0, 0.4)


  .mobile-img-div
    display none

    @media SITE_EXTENT
      display block
      position absolute
      z-index -1
      width 100% // set via js.
      height 100%
      left 0
      right 0
      bottom 0
      background-position center
      background-size cover

  .main-nav
    clearfix()
    position absolute
    left 0
    right 0
    bottom 0
    padding 0 3% 48px
    text-align center

    @media TABLET
      min-width 0

    .tablet-nav-btn
      margin 23px 20px 0 0
      display none
      z-index 100
      @media SITE_EXTENT
        display block
        float right
        border-radius(5px)
        background hsla(0, 0%, 0%, 0.2)
        padding 5px 8px
        font-size 28px
        color MAIN_NAV_TEXT_CLR
      &:hover
        background hsla(0, 0%, 0%, 0.35)

    nav
      clearfix()
      width 100%
      @media SITE_EXTENT
        display none
      text-align center

      ul
        padding 0
        margin 0
        width 100%

        li
          display inline-block
          padding 0 8px
          &.active a
            border-bottom MAIN_NAV_TEXT_CLR 2px solid
          a
            {GOTHAM_BLACK}
            color MAIN_NAV_TEXT_CLR
            font-size 16px
            text-decoration none
            &:hover
              border-bottom MAIN_NAV_TEXT_CLR 2px solid

.main-nav.mobile
  transition-property opacity, left, right
  transition-duration 0.3s, 0s, 0s
  opacity 0
  position fixed
  top 0
  right auto
  left -9999px
  bottom 0
  background rgba(MAIN_NAV_BG_CLR, 0.87)
  z-index 15
  text-align center

  &.showing
    opacity 1
    left 0
    right 0

  .tablet-nav-btn, h1
    display none

  li a
    color MAIN_NAV_TEXT_CLR
    text-decoration none
    background rgba(darken(MAIN_NAV_BG_CLR, 20%), 0.5)
    font-size 20px
    display inline-block
    padding 5px 12px
    margin 4px

  .close-mobile
    position absolute
    color MAIN_NAV_TEXT_CLR
    top 20px
    right 20px
    font-size 25px
    &:hover
      color #f1f1f1
  ul
    padding 25% 30px 0
    li
      display inline

.main-nav.sticky
  @extend .header .main-nav
  HEIGHT = 90px
  height HEIGHT
  top 0
  padding 0
  position fixed
  background MAIN_NAV_BG_CLR
  z-index 5
  transition-property(top)
  transition-duration(0.2s)
  transition-delay(0.3s)
  transition-timing-function(ease-out)
  &.video-page
    background rgba(MAIN_NAV_BG_CLR, 0.8)

  @media ONLY_MOBILE
    top 0 !important
  @media ONLY_TABLET
    top 0 !important

  /.home &.slideDown
    top 0

  /.home &
    top -(HEIGHT)

  h1
    float left
    margin 0 0 0 48px
    align(vertical)
    a
      display block
      text-indent -9999px
      image '../img/logo.png' 200px 25px
      width 200px
      height 25px
      background-size 200px 25px
      +below(2)
        image '../img/logo.png' 100px 15px
        width 100px
        height 15px
        background-size 100px 15px

  nav
    @extend .header .main-nav nav
    margin 0
    text-align right
    float right
    width auto
    align(vertical)
    right 48px

