/*
 * Normalize.css converted to Stylus
 * http://github.com/necolas/normalize.css
 */
 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
  display: block
 
audio, canvas, video
  display: inline-block
  *display: inline
  *zoom: 1
 
audio:not([controls])
  display: none
 
[hidden]
  display: none
 
html
  font-size: 100%
  overflow-y: scroll
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
 
body
  margin: 0
 
body, button, input, select, textarea
  font-family: sans-serif
 
a
  color: #00e
 
a:visited
  color: #551a8b
 
a:focus
  outline: thin dotted
 
a:hover, a:active
  outline: 0
 
abbr[title]
  border-bottom: 1px dotted
 
b, strong
  font-weight: bold
 
blockquote
  margin: 1em 40px
 
dfn
  font-style: italic
 
mark
  background: #ff0
  color: #000
 
pre, code, kbd, samp
  font-family: monospace, monospace
  _font-family: 'courier new', monospace
  font-size: 1em
 
pre
  white-space: pre-wrap
  word-wrap: break-word
 
q
  quotes: none
 
q:before, q:after
  content: ''
  content: none
 
small
  font-size: 75%
 
sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline
 
sup
  top: -0.5em
 
sub
  bottom: -0.25em
 
ul, ol
  margin: 1em 0
  padding: 0 0 0 40px
 
dd
  margin: 0 0 0 40px
 
nav ul, nav ol
  list-style: none
  list-style-image: none
 
img
  border: 0
  -ms-interpolation-mode: bicubic
 
svg:not(:root)
  overflow: hidden
 
figure
  margin: 0
 
form
  margin: 0
 
fieldset
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em
 
legend
  border: 0
  *margin-left: -7px
 
button, input, select, textarea
  font-size: 100%
  margin: 0
  vertical-align: baseline
  *vertical-align: middle
 
button, input
  line-height: normal
  *overflow: visible
 
table button, table input
  *overflow: auto
 
button, html input[type="button"], input[type="reset"], input[type="submit"]
  cursor: pointer
  -webkit-appearance: button
 
input[type="checkbox"], input[type="radio"]
  box-sizing: border-box
 
input[type="search"]
  -webkit-appearance: textfield
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box
 
input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none
 
button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0
 
textarea
  overflow: auto
  vertical-align: top
 
table
  border-collapse: collapse
  border-spacing: 0
