/* Universal
****************************************************************/
section
  background SITE_BACKGROUND
  padding 40px 0 10px

  .section-header
    text-align center
    background-repeat no-repeat
    background-size cover
    background-attachment fixed
    background-position bottom
    padding 20px 0
    margin 0 0 50px
    /.apple-ios &
      background-size scroll
    h1
      {GOTHAM_NARROW_BOLD}
      color white
      font-size 72px
      text-transform uppercase
      @media TABLET
        font-size 40px

    // background-attachment looks like crap on devices.
    deviceOnlyBlock =
      background none !important
      background-image none !important
      padding 5px 0 5px 0 !important
      h1
        color #222
    @media ONLY_MOBILE
      {deviceOnlyBlock}
    @media ONLY_TABLET
      {deviceOnlyBlock}

  @media ONLY_MOBILE
    padding-bottom 0
  @media ONLY_TABLET
    padding-bottom 0

.page-media
  clearfix()
  position relative

  h2
    color white
    {GOTHAM_BOLD}
    text-align center
    margin 0
    padding 0
    font-size 42px
    align(center)
    max-width 800px
    line-height 49px
    z-index 1

  .media-overlay
    background rgba(0, 0, 0, 0.5)
    position absolute
    top 0
    bottom 0
    left 0
    right 0

  &.image
    height 400px
    background-size cover
    background-position center center

.inner-page
  padding-bottom 40px


/* CTA Component
****************************************************************/
.cta
  text-align center
  padding 40px 0
  h2
    font-size 32px
    line-height 36px
    margin 0 0 20px
    padding 0

/* 3 Image Overlay Columns
****************************************************************/
.image_overlay_3_columns
  clearfix()
  .col
    col(1/3, cycle: 3, gutter: 0.5)
    +below(3)
      stack()
    height 300px
    background-position center center
    background-size cover
    position relative

    a
      display block
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      text-align center
      span
        opacity 0
        {GOTHAM_BLACK}
        color white
        font-size 28px
      &:hover
        background rgba(0, 0, 0, 0.5)
        span
          align(center)
          opacity 0.8


/* Members Component
****************************************************************/
.members
  text-align center
  h1
    {GOTHAM_BLACK}
    font-size 42px

  .member-types
    clearfix()
    margin 0 auto 20px
    max-width 700px

    button
      background #CCC
      color white
      cursor pointer
      border none
      outline 0
      display inline-block
      padding 7px 13px
      margin 0 4px 8px
      {GOTHAM_BOLD}
      &.active
        background #848484
        &:hover
          background darken(@background, 10%)
      &:hover
        background darken(@background, 10%)

  .controls
    {GOTHAM_BOOK}
    font-size 12px

  .member-results
    clearfix()
    margin-top 40px
    .member-wrap
      col(1/6, cycle: 6)
      +below(3)
        stack()

      margin-bottom 20px

      .member
        height 100px
        width 100px
        margin auto
        background-size contain
        background-position center
        background-repeat no-repeat
        position relative
        a
          display block
          position absolute
          top 0
          bottom 0
          right 0
          left 0
          span
            opacity 0
            display block
            transition all 1s
            background white
            border-radius(50%)
            width 30px
            height @width
            align(center)
            i
              transition color 1s
              color black
              align(center)


          &:hover
            background rgba(255, 255, 255, 0.6)
            span
              opacity 1
              i
                color blue

/* Homepage - Top 3 Cols
****************************************************************/
.hp-top-cols
  padding 10px 0 100px
  width 90%
  margin auto
  text-align center
  clearfix()
  .col
    col(1/3)
    +below(3)
      stack()
      margin-bottom 30px

    p
      margin 0
      padding 0
      font-size 18px
      line-height 25px
      {GOTHAM_BOOK}

    h2
      font-size 44px
      margin 0
      margin 28px 0 50px

    .img
      height 150px
      background-size contain
      background-position center center
      background-repeat no-repeat
      margin auto


/* Homepage - Membership
****************************************************************/
.hp-membership
  text-align center
  padding 190px 0
  position relative
  hr
    border none
    height 2px
    background white
    width 190px
    margin 40px auto 43px
    padding 0
  +below(3)
    padding 60px 0
  h2, h5
    margin 0
  h2
    color white
    {GOTHAM_BOOK}
    font-size 52px
    text-transform uppercase
    color white
    margin 0
    padding 0
    +below(2)
      font-size 40px

  .bd
    width 60%
    margin auto
    position relative
    z-index 2
    +below(3)
      width 94%
  p
    font-size 18px
    line-height 25px
    {GOTHAM_BOOK}
    color white

  .membership-callout
    background white
    padding 40px
    margin-top 50px
    clearfix()
    .left-side,.right-side
      col(1/2)
      +below(3)
        stack()
        h5
          margin-bottom 20px
    h5
      margin-top 8px

  .overlay
    position absolute
    z-index 1
    top 0
    bottom 0
    left 0
    right 0
    opacity 0.7

/* Homepage - hp-testimonials
****************************************************************/
.hp-testimonials
  HEIGHT = 400px
  padding 100px 0 70px
  position relative

  +below(3)
    display none

  h1
    text-align center
    margin 0
    padding 0
    font-size 42px

  hr
    border none
    height 2px
    background black
    width 190px
    margin 45px auto 50px
    padding 0

  .pane
    clearfix()
    height HEIGHT

    .img
      col(7/12)
      height HEIGHT
      background-size cover
      background-size center center

    .bd
      col(5/12)
      text-align left
      color black
      .text
        p, &
          {GOTHAM_BOOK}
          font-size 20px
          line-height 25px
      .byline
        {GOTHAM_BOLD}
        line-height 30px
        font-size 20px

  .owl-carousel .owl-item
    transition opacity 1s
    opacity 0.3
    &.center
      opacity 1

  .owl-carousel .owl-dots
    text-align center
    padding 20px 0 0

  .owl-carousel .owl-dot
    display inline-block
    margin 0 3px
    span
      display inline-block
      height 14px
      width @height
      background #CCC
      border-radius(50%)
    &.active
      span
        background #111

/* Homepage - Callout Boxes
****************************************************************/
.hp-callout-boxes
  padding 20px 0 50px
  h1
    text-align center
    margin 0
    padding 0
    font-size 42px

  hr
    border none
    height 2px
    background black
    width 190px
    margin 45px auto 50px
    padding 0

  .boxes
    clearfix()
    .box
      position relative
      height 341px
      col(1/2, cycle: 2)
      +below(3)
        stack()
      text-align left
      background-size cover
      background-position center center
      margin-bottom 28px
      text-align center

      hr
        width 50%
        margin 20px auto
        border none
        background #CCC
        height 2px
        padding 0

      h4
        font-size 30px
        color rgba(255, 255, 255, 0.7)
        margin 0
        padding 0
      p
        color #F6F6F6
        {GOTHAM_BOOK}
        font-size 16px
        line-height 22px

      .inner
        cursor pointer
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        background rgba(0, 0, 0, 0.8)
        transition all 1s
        &:hover
          background rgba(0, 0, 0, 0.55)
        .inner-aligner
          box-sizing border-box
          align(center)
          padding 10px
          width 100%

/* Homepage - Facts
****************************************************************/
.hp-facts
  background #F6F6F6
  padding 100px 0
  color black
  h1
    text-align center
    margin 0 0 50px
    font-size 42px
  .fact-holder
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content space-around
    +below(3)
      display block
    .col-border
      border-right 1px solid #CCC
      &:last-child
        border none
    .col
      margin auto
      width auto
      text-align center
      padding 0 30px
      +below(3)
        display block
        padding 0 0 20px
      .top-header
        {GOTHAM_BLACK}
        font-size 35px
        margin-bottom 10px
      .sub-header
        text-transform uppercase
        color #848484
        font-size 20px
        {GOTHAM_BOOK}

/* Homepage - Facts
****************************************************************/
.hp-grid
  padding 100px 0
  clearfix()
  .row
    clearfix()

  .item
    box-sizing border-box
    padding 2px

  .piece
    background-size cover
    background-position center center
    position relative
    cursor pointer
    .block-header
      position absolute
      top 20px
      left 20px
      font-size 28px
      {GOTHAM_BLACK}
      color rgba(255, 255, 255, 0.9)
      z-index 2
    .overlay
      transition all 1s
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      background rgba(0, 0, 0, 0.1)

    &:hover
      .overlay
        background rgba(100, 100, 100, 0.7)

  .left-side
    span(2/3)
    +below(3)
      stack()
    .item
      .piece
        height 280px

  .right-side
    span(1/3)
    +below(3)
      stack()
    .item
      .piece
        height 848px

  .item-0, .item-1
    span(1/2)
  .item-2
    span(2/3)
  .item-3
    span(1/3)
  .item-4
    span(7/12)
  .item-5
    span(5/12)

  .row .item
    +below(3)
      stack()
      .piece
        height 250px !important


/* Get In Touch
****************************************************************/
.get-in-touch
  text-align center
  padding 0
  background darken(FOOTER_BG_CLR, 10%)

  .section-header
    margin 0

  .wrapper
    position relative
    height 90vh
    +below(2)
      height 320px
    .map
      position absolute
      top 0
      right 0
      left 0
      bottom 0
      b
        {GOTHAM_BOOK}

  .details
    position absolute
    background white
    width 688px
    height 45px
    z-index 0
    left 50%
    top 48%
    line-height 45px
    margin-left -(@width / 2)
    margin-top @height
    box-shadow(0px 0px 5px 0px rgba(50, 50, 50, 0.2))
    em
      {GOTHAM_BOLD}
    a
      {GOTHAM_BOOK}
    @media TABLET
      display none

  .subscribe
    transition-property(opacity)
    transition-duration(0.3s)
    transition-timing-function(ease-out)
    opacity(1)
    position relative
    padding 40px 0
    box-sizing border-box
    &.disabled
      opacity(0.5)
      .disabler
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        cursor wait
        z-index 10

    fieldset
      border none
      margin 0
      padding 0
      .row
        clearfix()
        .email-callout
          col(1/3)
          +below(3)
            stack()
            margin-bottom 20px
          display block
          {GOTHAM_BOLD}
          color FOOTER_TEXT_CLR
          line-height 18px
          text-align left
          padding-top 4px
        .field-controller
          col(2/3)
          +below(3)
            stack()
          clearfix()
          BOX_HEIGHT = 50px
          .input-wrapper
            span(5/6)
            +below(3)
              stack()
            height BOX_HEIGHT
            overflow hidden
            position relative
            background #F8F8F8
            input
              {GOTHAM_LIGHT}
              position absolute
              top 0
              bottom @top
              left 20px
              right 20px
              font-size 16px
              outline none
              color #111
              background transparent
              border none
              padding 0
              margin 0
              width 100%
              height BOX_HEIGHT
              +placeholder()
                color #333
          .btn-wrapper
            span(1/6)
            +below(3)
              stack()
            button
              {GOTHAM_BOLD}
              background #848484
              border none
              outline none
              width 100%
              text-transform uppercase
              line-height BOX_HEIGHT
              height BOX_HEIGHT
              font-size 16px
              color #F8F8F8
              &:hover
                background darken(FOOTER_BG_CLR, 80%)


/* Blog
****************************************************************/

.blog, .single, .tag, .archive, .category, .search
  padding-top 50px

  .alignleft
    float left
    margin 0 20px 5px 0

  .alignright
    float right
    margin 0 0 5px 20px

  .aligncenter
    text-align center
    margin-left auto
    margin-right auto

  .post-edit-link
    {GOTHAM_NARROW_BOLD}

  .section-header
    background-position center bottom

  /.single-post
    .meta
      padding-bottom 20px

  .sidebar
    min-height 500px
    column(3/12)
    @media TABLET
      display none

    .search-box
      margin 0 0 20px
      input
        border none
        border-bottom dashed 1px #CCC
        padding 3px 0
        {GOTHAM_BOOK}
        outline none
        width 100%
        display block
        margin 0 0 4px
      small
        display block
        text-align right
        color #CCC

  section
    padding 0

    .blog-section-header
      padding 25px 0

    /.single-post
      .section-header
        position relative
        .cover
          position absolute
          z-index 0
          width 100%
          height 100%
          left 0
          bottom 0
          top 0
          right 0
          background-color hsla(194, 11%, 0%, 0.50)

        h1
          position relative
          z-index 2

  h4
    margin 0 0 7px

  .blog-description
    margin 0 0 20px
    padding 0 0 10px
    border-bottom 1px dashed #CCC

  .back-to-blog
    display block
    padding 0 0 9px
    margin 0 0 17px
    border-bottom 2px solid #EEE
    text-decoration none
    &:hover
      color black

  ul
    list-style none
    margin 0
    padding 0

  .widget
    margin 0 0 20px

  .widget_recent_entries
    .post-date
      display block
      font-size 11px
      margin 0 0 10px
      color #999

  .widget.widget_archive,
  .widget.widget_categories
    ul
      li
        border-bottom 1px solid #f1f1f1
        font-size 12px
        a
          display block
          padding 2px

  .posts
    margin 0
    col(9/12)
    @media TABLET
      stack()

    .post
      clearfix()
      clear both
      padding 0 0 40px
      .meta
        margin 0 0 15px
      .pub
        font-size 12px
        color #999
      time
        {GOTHAM_BOOK}
        text-transform uppercase
      h1
        margin 0 0 3px
        font-size 24px

        &.post-title
          {GOTHAM_NARROW_BOLD}

      .tag-list
        {GOTHAM_BOLD}
        font-size 12px
        margin 3px 0 0
        span
          {GOTHAM_BOOK}
          color #999
        a
          margin 0
          text-decoration underline
          color lighten(TEXT_CLR, 50%)
      time
        font-size 12px

  .navigation
    clear both
    margin 25px 0
    text-align center
    li
      display inline
      margin 0 4px
      &.active
        a
          {GOTHAM_BOLD}


/* Twitter
****************************************************************/
.twitter
  margin 0 1%
  background-color #f2f2f2
  padding 30px
  text-align center
  h4
    text-align center
    font-size 1.8em
    width 60%
    margin 20px 20%
  p
    text-align center


/* Forms
****************************************************************/
main
  .wpcf7
    .wpcf7-mail-sent-ok
      padding 6px 10px
      background #197400
      color white
      border none

    .ajax-loader
      display block
      margin 5px auto 0 !important

    p.submit
      text-align center
      input
        {GOTHAM_BOOK}
        background TEXT_CLR
        font-size 20px
        color white
        display inline-block
        border none
        padding 9px 15px
        &:hover
          background darken(TEXT_CLR, 80%)

    p.txt, p.msg
      position relative
      margin 0 0 20px
      height 50px
      border 1px solid #CCC
      border-radius(2px)

      span.wpcf7-not-valid-tip
        {GOTHAM_BOOK}
        position absolute
        right 10px
        left auto
        border none
        background #ff0000
        color white
        z-index 1
        border-radius(4px)

      span.wpcf7-form-control-wrap
        position absolute
        top 5px
        bottom 5px
        left 10px
        right 10px
        display block
        input, textarea
          {GOTHAM_LIGHT}
          display block
          background transparent
          border none
          position absolute
          top 0
          left 0
          right 0
          bottom 0
          outline none
          font-size 20px
          resize none
          padding 0
          margin 0
          width 100%
          height 100%

      &.msg
        height 100px


.member-rows
  margin 0 0 25px
  .row
    clearfix()
    margin-bottom 20px
    .image
      float left
      height 130px
      width 130px
      border-radius(50%)
      border 5px solid #CCC
      background-size contain
      background-position center
      background-repeat no-repeat
    .content
      margin-left 164px
      padding 20px 0 0

