/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.col-head-wrap p {
	font-family: "Montserrat", "Gotham Narrow SSm A","Gotham Narrow SSm B";
	font-size: 1.5em;
	font-weight:700;
	line-height:normal;
}

.landing-tag {
	position: relative;
    color: #f6f6f6;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    z-index: 1;
    font-family: "Montserrat", "Gotham Narrow SSm A","Gotham Narrow SSm B";
    font-style: normal;
    font-weight: 800;
	line-height:1.5em;
	font-size:1.125em;
}

.uk-addresses {
	display: flex;
	align-content: flex-start;
	width:90%;
	margin: 0 auto;
	max-width: 960px;

	.address-col {
		flex-basis: 33%;
		justify-content: center;
		color: #ffffff;
		padding: 0 1em;

		h5 {
			font-weight: 700;
			text-transform: uppercase;
			color: #ffffff;
			margin-bottom: 0.5em;
			font-size: 1em;
		}

		.address-link {
			text-decoration: underline;
			color: #cccccc;
			font-weight: normal;

			&:hover {
				color: #bbbbbb;
			}
		}
	}
}

@media only screen and (max-width:768px) {
	.uk-addresses {
		flex-wrap: wrap;

		.address-col {
			flex-basis: 80%;
		}
	}
}
