/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
.col-head-wrap p {
  font-family: "Montserrat", "Gotham Narrow SSm A","Gotham Narrow SSm B";
  font-size: 1.5em;
  font-weight: 700;
  line-height: normal; }

.landing-tag {
  position: relative;
  color: #f6f6f6;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  z-index: 1;
  font-family: "Montserrat", "Gotham Narrow SSm A","Gotham Narrow SSm B";
  font-style: normal;
  font-weight: 800;
  line-height: 1.5em;
  font-size: 1.125em; }

.uk-addresses {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 90%;
  margin: 0 auto;
  max-width: 960px; }
  .uk-addresses .address-col {
    -webkit-flex-basis: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ffffff;
    padding: 0 1em; }
    .uk-addresses .address-col h5 {
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 0.5em;
      font-size: 1em; }
    .uk-addresses .address-col .address-link {
      text-decoration: underline;
      color: #cccccc;
      font-weight: normal; }
      .uk-addresses .address-col .address-link:hover {
        color: #bbbbbb; }

@media only screen and (max-width: 768px) {
  .uk-addresses {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .uk-addresses .address-col {
      -webkit-flex-basis: 80%;
      -ms-flex-preferred-size: 80%;
      flex-basis: 80%; } }

/*# sourceMappingURL=style-edits.css.map */