GOTHAM_LIGHT =
  font-family "Montserrat", "Gotham Narrow SSm A", "Gotham Narrow SSm B"
  font-style normal
  font-weight 200

GOTHAM_BOOK =
  font-family "Montserrat", "Gotham Narrow SSm A", "Gotham Narrow SSm B"
  font-style normal
  font-weight 400

GOTHAM_MEDIUM =
  font-family "Montserrat", "Gotham Narrow SSm A", "Gotham Narrow SSm B"
  font-style normal
  font-weight 500

GOTHAM_BOLD =
  font-family "Montserrat", "Gotham Narrow SSm A", "Gotham Narrow SSm B"
  font-style normal
  font-weight 700

GOTHAM_BLACK =
  font-family "Montserrat", "Gotham Narrow SSm A", "Gotham Narrow SSm B"
  font-style normal
  font-weight 800

body
  {GOTHAM_BOOK}
  font-size 16px
  color TEXT_CLR
  -webkit-font-smoothing antialiased
  font-style normal

b, strong, h1, h2, h3, h4, h5, h6
  color black
  {GOTHAM_BLACK}

h1
  font-size 35px

h2
  font-size 25px

h3, h4, h5, h6
  font-size 18px

.alt
  {GOTHAM_NARROW_BOLD}
  display inline-block
  // border-bottom 2px solid TEXT_CLR
  padding 0 0 10px

p
  line-height 20px
  margin 0 0 18px

.center
  text-align center

.inactive
  color INACTIVE_LINK_CLR

.disabled, input[disabled="disabled"]
  color INACTIVE_LINK_CLR
  cursor default

.entry
  ol
    li
      margin-bottom 14px
  h1, h2, h3, h4, h5, h6, strong, b
    {GOTHAM_BOLD}

.link
  color LINK_CLR
  text-decoration none
  transition(all, 0.3s)

  &:hover
    text-decoration underline
    color darken(LINK_CLR, 30%)

  &:active, &:link, &:visited
    outline 0

a
  @extend .link

.btn
  &.bordered
    transition all 0.5s
    border 2px
    background transparent
    display inline-block
    font-size 22px
    padding 18px 22px
    border 2px #111 solid
    color #111
    text-transform uppercase
    {GOTHAM_BLACK}
    &:hover
      background #111
      color white
      text-decoration none

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?62660281');
  src: url('../fonts/fontello/fontello.eot?62660281#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff?62660281') format('woff'),
       url('../fonts/fontello/fontello.ttf?62660281') format('truetype'),
       url('../fonts/fontello/fontello.svg?62660281#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?62660281#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-arrow:before { content: '\e848'; } /* '' */
.icon-youtube-2:before { content: '\e877'; } /* '' */
.icon-bookforsale-01:before { content: '\e879'; } /* '' */
.icon-chrome:before { content: '\e847'; } /* '' */
.icon-glass:before { content: '\e81f'; } /* '' */
.icon-music:before { content: '\e822'; } /* '' */
.icon-search:before { content: '\e829'; } /* '' */
.icon-mail:before { content: '\e821'; } /* '' */
.icon-mail-alt:before { content: '\e820'; } /* '' */
.icon-heart-empty:before { content: '\e82f'; } /* '' */
.icon-star:before { content: '\e87a'; } /* '' */
.icon-users:before { content: '\e81e'; } /* '' */
.icon-th-large:before { content: '\e827'; } /* '' */
.icon-th:before { content: '\e82b'; } /* '' */
.icon-ok:before { content: '\e82a'; } /* '' */
.icon-ok-squared:before { content: '\e82d'; } /* '' */
.icon-cancel-circled:before { content: '\e82c'; } /* '' */
.icon-plus:before { content: '\e82e'; } /* '' */
.icon-upload:before { content: '\e800'; } /* '' */
.icon-keyboard:before { content: '\e80d'; } /* '' */
.icon-comment:before { content: '\e830'; } /* '' */
.icon-chat:before { content: '\e831'; } /* '' */
.icon-menu-2:before { content: '\e87d'; } /* '' */
.icon-cog-1:before { content: '\e80f'; } /* '' */
.icon-cog-alt:before { content: '\e80e'; } /* '' */
.icon-down-dir:before { content: '\e810'; } /* '' */
.icon-play:before { content: '\e87e'; } /* '' */
.icon-play-circled:before { content: '\e87f'; } /* '' */
.icon-play-circled2:before { content: '\e880'; } /* '' */
.icon-stop:before { content: '\e881'; } /* '' */
.icon-pause:before { content: '\e882'; } /* '' */
.icon-desktop:before { content: '\e80c'; } /* '' */
.icon-laptop:before { content: '\e809'; } /* '' */
.icon-tablet:before { content: '\e80a'; } /* '' */
.icon-mobile:before { content: '\e80b'; } /* '' */
.icon-briefcase:before { content: '\e81d'; } /* '' */
.icon-megaphone:before { content: '\e81c'; } /* '' */
.icon-coffee:before { content: '\e885'; } /* '' */
.icon-facebook-3:before { content: '\e850'; } /* '' */
.icon-facebook-squared-1:before { content: '\e84f'; } /* '' */
.icon-flickr-1:before { content: '\e868'; } /* '' */
.icon-gplus-squared:before { content: '\e884'; } /* '' */
.icon-linkedin-squared:before { content: '\e86e'; } /* '' */
.icon-linkedin-2:before { content: '\e86f'; } /* '' */
.icon-tumblr-squared:before { content: '\e883'; } /* '' */
.icon-twitter-squared:before { content: '\e864'; } /* '' */
.icon-twitter-6:before { content: '\e865'; } /* '' */
.icon-youtube-1:before { content: '\e876'; } /* '' */
.icon-youtube-squared:before { content: '\e826'; } /* '' */
.icon-youtube-play:before { content: '\e825'; } /* '' */
.icon-blank:before { content: '\e824'; } /* '' */
.icon-lemon:before { content: '\e823'; } /* '' */
.icon-note:before { content: '\e828'; } /* '' */
.icon-user-1:before { content: '\e886'; } /* '' */
.icon-users-1:before { content: '\e887'; } /* '' */
.icon-user-add:before { content: '\e888'; } /* '' */
.icon-retweet-1:before { content: '\e85f'; } /* '' */
.icon-map:before { content: '\e89a'; } /* '' */
.icon-down-open:before { content: '\e814'; } /* '' */
.icon-left-open:before { content: '\e815'; } /* '' */
.icon-right-open:before { content: '\e816'; } /* '' */
.icon-up-open:before { content: '\e817'; } /* '' */
.icon-down-open-mini:before { content: '\e818'; } /* '' */
.icon-left-open-mini:before { content: '\e819'; } /* '' */
.icon-right-open-mini:before { content: '\e81a'; } /* '' */
.icon-up-open-mini:before { content: '\e81b'; } /* '' */
.icon-down-open-big:before { content: '\e813'; } /* '' */
.icon-left-open-big:before { content: '\e811'; } /* '' */
.icon-right-open-big:before { content: '\e812'; } /* '' */
.icon-network:before { content: '\e834'; } /* '' */
.icon-github:before { content: '\e88b'; } /* '' */
.icon-github-circled:before { content: '\e88c'; } /* '' */
.icon-flickr:before { content: '\e867'; } /* '' */
.icon-flickr-circled:before { content: '\e866'; } /* '' */
.icon-vimeo-circled:before { content: '\e88a'; } /* '' */
.icon-twitter-5:before { content: '\e85e'; } /* '' */
.icon-twitter-circled-2:before { content: '\e85d'; } /* '' */
.icon-facebook-1:before { content: '\e84a'; } /* '' */
.icon-check:before { content: '\e849'; } /* '' */
.icon-facebook-squared:before { content: '\e84c'; } /* '' */
.icon-gplus-1:before { content: '\e88d'; } /* '' */
.icon-gplus-circled-1:before { content: '\e88e'; } /* '' */
.icon-pinterest:before { content: '\e891'; } /* '' */
.icon-pinterest-circled:before { content: '\e890'; } /* '' */
.icon-tumblr:before { content: '\e88f'; } /* '' */
.icon-tumblr-circled:before { content: '\e892'; } /* '' */
.icon-linkedin-1:before { content: '\e86d'; } /* '' */
.icon-linkedin-circled-1:before { content: '\e86c'; } /* '' */
.icon-dribbble:before { content: '\e893'; } /* '' */
.icon-lastfm:before { content: '\e897'; } /* '' */
.icon-lastfm-circled:before { content: '\e896'; } /* '' */
.icon-instagram:before { content: '\e895'; } /* '' */
.icon-paypal:before { content: '\e894'; } /* '' */
.icon-map-1:before { content: '\e89b'; } /* '' */
.icon-menu:before { content: '\e87b'; } /* '' */
.icon-brush:before { content: '\e801'; } /* '' */
.icon-pipette:before { content: '\e803'; } /* '' */
.icon-chart-pie:before { content: '\e802'; } /* '' */
.icon-facebook-circled-2:before { content: '\e84e'; } /* '' */
.icon-facebook-2:before { content: '\e84d'; } /* '' */
.icon-flickr-circled-1:before { content: '\e869'; } /* '' */
.icon-flickr-2:before { content: '\e86a'; } /* '' */
.icon-linkedin-circled-2:before { content: '\e871'; } /* '' */
.icon-linkedin-3:before { content: '\e870'; } /* '' */
.icon-twitter-circled-1:before { content: '\e85c'; } /* '' */
.icon-twitter-4:before { content: '\e85b'; } /* '' */
.icon-mail-1:before { content: '\e832'; } /* '' */
.icon-rss-alt:before { content: '\e807'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-brush-1:before { content: '\e805'; } /* '' */
.icon-brush-alt:before { content: '\e804'; } /* '' */
.icon-chart-bar:before { content: '\e889'; } /* '' */
.icon-chart-pie-1:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e836'; } /* '' */
.icon-facebook-rect:before { content: '\e835'; } /* '' */
.icon-twitter:before { content: '\e837'; } /* '' */
.icon-twitter-bird-2:before { content: '\e860'; } /* '' */
.icon-twitter-rect:before { content: '\e861'; } /* '' */
.icon-youtube:before { content: '\e862'; } /* '' */
.icon-menu-1:before { content: '\e87c'; } /* '' */
.icon-retweet-2:before { content: '\e863'; } /* '' */
.icon-twitter-1:before { content: '\e83e'; } /* '' */
.icon-twitter-circled:before { content: '\e83d'; } /* '' */
.icon-facebook-4:before { content: '\e851'; } /* '' */
.icon-facebook-circled:before { content: '\e83a'; } /* '' */
.icon-gplus:before { content: '\e839'; } /* '' */
.icon-gplus-circled:before { content: '\e838'; } /* '' */
.icon-linkedin:before { content: '\e83c'; } /* '' */
.icon-linkedin-circled:before { content: '\e83b'; } /* '' */
.icon-facebook-5:before { content: '\e852'; } /* '' */
.icon-facebook-rect-1:before { content: '\e853'; } /* '' */
.icon-twitter-2:before { content: '\e857'; } /* '' */
.icon-twitter-bird:before { content: '\e856'; } /* '' */
.icon-linkedin-4:before { content: '\e872'; } /* '' */
.icon-linkedin-rect:before { content: '\e873'; } /* '' */
.icon-location:before { content: '\e899'; } /* '' */
.icon-location-circled:before { content: '\e898'; } /* '' */
.icon-book:before { content: '\e878'; } /* '' */
.icon-facebook-6:before { content: '\e854'; } /* '' */
.icon-flickr-3:before { content: '\e86b'; } /* '' */
.icon-linkedin-5:before { content: '\e874'; } /* '' */
.icon-twitter-3:before { content: '\e858'; } /* '' */
.icon-globe:before { content: '\e833'; } /* '' */
.icon-user:before { content: '\e846'; } /* '' */
.icon-retweet:before { content: '\e859'; } /* '' */
.icon-cog-2:before { content: '\e845'; } /* '' */
.icon-left-open-1:before { content: '\e844'; } /* '' */
.icon-right-open-1:before { content: '\e843'; } /* '' */
.icon-down-circle:before { content: '\e842'; } /* '' */
.icon-left-circle:before { content: '\e841'; } /* '' */
.icon-right-circle:before { content: '\e840'; } /* '' */
.icon-up-circle:before { content: '\e83f'; } /* '' */
.icon-facebook-rect-2:before { content: '\e855'; } /* '' */
.icon-twitter-bird-1:before { content: '\e85a'; } /* '' */
.icon-linkedin-rect-1:before { content: '\e875'; } /* '' */
.icon-facebook-circled-1:before { content: '\e84b'; } /* '' */
